@import url('https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet');

@font-face {
    font-family: 'nexathin';
    src: url('../fonts/nexa-thin-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexabook';
    src: url('../fonts/nexa-book-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexablack';
    src: url('../fonts/nexa-black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}